@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Aileron-Regular;
  src: url(../../public/Aileron/Aileron-Regular.otf);
}

@font-face {
  font-family: Aileron-SemiBold;
  src: url(../../public/Aileron/Aileron-SemiBold.otf);
}

@font-face {
  font-family: DDin-Regular;
  src: url(../../public/D-Din/D-DIN.otf);
}

@font-face {
  font-family: DDin-Bold;
  src: url(../../public/D-Din/D-DIN-Bold.otf);
}

@font-face {
  font-family: Cardo-Regular;
  src: url(../../public/Cardo/Cardo-Regular.ttf);
}

@font-face {
  font-family: Cardo-Bold;
  src: url(../../public/Cardo/Cardo-Bold.ttf);
}

@font-face {
  font-family: Quattrocento-Regular;
  src: url(../../public/Quattrocento/Quattrocento-Regular.ttf);
}

@font-face {
  font-family: Quattrocento-Bold;
  src: url(../../public/Quattrocento/Quattrocento-Bold.ttf);
}

/* Page scroll */
html {
  scroll-behavior: smooth;
}

/* Section backgrounds */
.bg-intro-section {
  background-image: url(../../public/bg/bg-colorado-creede.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.bg-about-section {
  background-image: url(../../public/bg/bg-prague-garden.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-contact-section {
  background-image: url(../../public/bg/bg-salzburg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.bg-square {
  background-image: url(../../public/bg/pattern-square.svg);
  background-repeat: repeat;
  background-position: 50%;
  background-size: 15%;
}

.dark .dark\:bg-square-dark {
  background-image: url(../../public/bg/pattern-square-dark.svg);
  background-repeat: repeat;
  background-position: 50%;
  background-size: 15%;
}

.bg-topography {
  background-image: url(../../public/bg/pattern-topography-blue.svg);
  background-repeat: repeat;
  background-position: 10% 50%;
  background-size: 60%;
}

.dark .dark\:bg-topography-dark {
  background-image: url(../../public/bg/pattern-topography-gray.svg);
  background-repeat: repeat;
  background-position: 10% 50%;
  background-size: 60%;
}